<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Estilo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.style}}</td>
            <td>{{beer.price | currency}}</td>
            <td>
                <span class="badge badge-warning" *ngIf="beer.stock == 0">SIN STOCK</span>
                <span class="badge badge-primary" *ngIf="beer.stock > 0">Disponible!</span>
            </td>
        </tr>
    </tbody>
</table>